<!DOCTYPE html>
<html>
<head>
	<title>IFA'S CAKE WORLD</title>
</head>
<body>
	<style type="text/css">

	body{
    background-color: grey;
}

h1{
    color: blue;
}

</style>
	<div style = "color:red"> 
	<h1> <u>IFA'S CAKE WORLD</u></h1> 
    </div>
	<img src="https://i.pinimg.com/originals/ee/4e/fd/ee4efd0d960b477e4dc0373c2837f7a2.jpg" alt="cake" height="500px b" width="500px"><br>

<ul type="square">
<div style="color: red">
	<li><h1>Chocolates</h1></li>

	<div>
		<a href="#chocolates">Chocolates!</a>
	</div>

	<li><h1>Candies</h1></li>

	<div>
		<a href="#candies">Candies!</a>
	</div>
	
	<li><h1>Pastries</h1></li>
	
	<div>
		<a href="#pastries">Pastries!</a>
	</div>

</div>

</ul>

	<div id="chocolates"></div>
	<h1> <U><i>CHOCOLATES</i></U></h1>
	<img src="https://cdn1.simplychocolate.com/wcsstore/SimplyChocolate/images/catalog/16359821x.jpg" alt="CHOCOLATES" height="400px" width="400"><br>
	<a href="https://www.amazon.in/chocolates/s?k=chocolates "> click...!</a>

	<div style="color: brown">
		<style type="text/css">
		p {
           color:red;
           font-weight: bold;
           font-size: 18px;
}
</style>


	<p><i>Chocolate has a rich history dating back thousands of years. It originated in Mesoamerica among ancient civilizations like the Maya and Aztecs. Initially consumed as a bitter beverage, it was valued for its energizing properties. When introduced to Europe in the 16th century, sugar was added, transforming its taste.<u>Chocolate became popular among the elite and eventually more accessible as production methods improved. The Industrial Revolution further revolutionized chocolate-making, leading to mass production and affordability</u>. Today, chocolate is enjoyed worldwide in various forms, from bars to confections, continuing its journey from ancient ritual to global indulgence.Chocolate has a rich history dating back thousands of years. It originated in Mesoamerica among ancient civilizations like the Maya and Aztecs. Initially consumed as a bitter beverage, it was valued for its energizing properties. When introduced to Europe in the 16th century, sugar was added, transforming its taste.<u>Chocolate became popular among the elite and eventually more accessible as production methods improved. The Industrial Revolution further revolutionized chocolate-making, leading to mass production and affordability</u>.Today, chocolate is enjoyed worldwide in various forms, from bars to confections, continuing its journey from ancient ritual to global indulgence.</i></p>

</div>

	 <div id="candies"></div>
	 <h1> <U><i>CANDIES</i></U></h1>
	 <img src="https://images.creativemarket.com/0.1.0/ps/2264816/1360/906/m1/fpnw/wm1/fgxrg5h6hiepyxikp4u4nlrznsb4jzmtfzozvesz5d9zqthfv7e2i6r78eisgp9j-.jpg?1486808180&s=148c6a16a770bab37b2f9baee9906a1b" alt="candies" height="400px" width="400"><br>
	 <a href="https://www.amazon.in/gp/bestsellers/grocery/4859778031">click...!</a>	

	 <div style="color: green">

	 <p><i> Both high fructose corn syrup and any other sweetener gives food a more pleasurable taste and they contain about the same amount of calories. High fructose corn syrup and sugar are metabolically similar and both cause negative effects on the body when not eaten in moderation (Hyman). Vast amounts of HFCS promotes teeth decay and it raises triglyceride levels in the blood which increases the risk of heart disease. It makes the liver fatty which increases the risk of diabetes and fructose affects hormone levels like insulin which results in obesity (Food Additives – CSPI’s). High fructose corn syrup punches holes within the intestinal lining allowing bacteria from toxic gut byproducts and partially ingested food proteins to infiltrate into the blood stream which provokes obesity, diabetes, and cancerBoth high fructose corn syrup and any other sweetener gives food a more pleasurable taste and they contain about the same amount of calories. High fructose corn syrup and sugar are metabolically similar and both cause negative effects on the body when not eaten in moderation (Hyman).<u> Vast amounts of HFCS promotes teeth decay and it raises triglyceride levels in the blood which increases the risk of heart disease. It makes the liver fatty which increases the risk of diabetes and fructose affects hormone levels like insulin which results in obesity (Food Additives – CSPI’s). High fructose corn syrup punches holes within the intestinal lining allowing bacteria from toxic gut byproducts and partially ingested food proteins to infiltrate into the blood stream which provokes obesity, diabetes, and cancer.</u></i> </p><br>

</div>

       <div id="pastries"></div>
	   <h1> <U><i>PASTRIES</i></U></h1>
	   <img src="https://i.pinimg.com/originals/7b/7a/26/7b7a266408adc530d774db497c397979.jpg" alt="pastries" height="400" width="400"><br>
       <a href="https://www.swiggy.com/city/thiruvananthapuram/cakes-and-pastries-cuisine-order-online">click...!</a>

	   <div style="color: blue">

	   <p>The world of pastries is a captivating symphony of flavors, textures, and artistry that has evolved over centuries.<u> Rooted in history, shaped by science, and elevated by artistic expression, pastries have become culinary masterpieces enjoyed across cultures. In this extensive exploration, we will delve into the multifaceted nature of pastries, unraveling their rich history, understanding the science behind their creation, and appreciating the artistic flair that transforms simple ingredients into exquisite delights The world of pastries is a captivating symphony of flavors, textures, and artistry that has evolved over centuries</u>. Rooted in history, shaped by science, and elevated by artistic expression, pastries have become culinary masterpieces enjoyed across cultures. In this extensive exploration, we will delve into the multifaceted nature of pastries, unraveling their rich history, understanding the science behind their creation, and appreciating the artistic flair that transforms simple ingredients into exquisite delights Rooted in history, shaped by science, and elevated by artistic expression, pastries have become culinary masterpieces enjoyed across cultures. In this extensive exploration.</p>

</div>


</body>
</html>